*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans' sans-serif;
}
 :root{
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ffa343;

    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
 }
 body{
    color: var(--text-color);
    background: var(--bg-color);
 }
 header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
 }
 .logo{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
 }
 span{
    color: palevioletred;
 }
 .nav{
    display: flex;
 }
 .nav a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 17px 22px;
    transition: all .50s ease;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    
 }
 .nav a:hover{
    color: var(--main-color);
 }
 .h-right{
    display: flex;
    align-items: center ;
 }
 .h-right a:first-child{
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
    white-space: nowrap;
 }
 .h-right a{
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
 }
 .h-right a:hover{
    color: blue;
    transform: translate(-3px);
 }
 #menu-icon{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    display: none;
 }

 section{
   padding: 70px 17% 60px;
 }

 .home{
   position: relative;
   height: 100vh;
   width: 100%;
   background-image:url(waterfalls.jpg);
   background-size: cover;
   background-position: bottom center;
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }

 .home-text h5{
   font-size: 25px;
   font-weight: 600;
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 6px;
   color: black;
 }

.home-text h1{
   font-size: var(--h1-font);
   font-weight: 800;
   line-height: 1.2;
   margin-bottom: 20px;

}

.home-text p{
   font-size: var(--p-font);
   font-weight: 700;
   line-height: 30px;
   color: #ffffffab;
   margin-bottom: 35px;
}

.btn{
   display: inline-block;
   padding: 13px 40px;
   color: var(--bg-color);
   background: palevioletred;
   font-size: 15px;
   font-weight: 600;
   border: 2px solid transparent;
   border-radius: 5px;
   transition: all ,50s ease;
   cursor: pointer;

}

.btn:hover{
   transform: translateX(10px);
   border: 2px solid var(--text-color);
   background: transparent;
   color: var(--text-color);
}

header.sticky{
   padding: 8px 17%;
   background: transparent;
   backdrop-filter: blur(35px);
}
.feature-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, auto));
   align-items: center;
   text-align: center;
   gap: 3rem;
}

.row-img{
   overflow: hidden;
   width: 100px;
   height: 100px;
   margin: 0 auto;
   margin-bottom: 20px;
   border-radius: 50%;
   cursor: pointer;
}

.row-img img{
   width: 100%;
   display: block;
   transition: transform 0.7s;
}

.row-img img:hover{
   transform: scale(1.2);
}

.feature-content{
   font-size: 17px;
   font-weight: 500;
   cursor: pointer;
   transition: all .50s ease;
}
.feature-content h4{
   color: white;
}

.holiday{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 9rem;
}

.holiday-img img{
   width: 500px;
   height: 500px;
   border-radius: 10px;
}

.holiday-text h5{
   font-size: 22px;
   font-weight: 600;
   color: var(--text-color);
   text-transform: uppercase;
   letter-spacing: 6px;
   margin-bottom: 20px;
  
}
.holiday-text h2{
font-size: var(--h2-font);
font-weight: 800;
line-height: 1.2;
margin-bottom: 25px;
}

.holiday-text p{
   font-size: var(--p-font);
   font-weight: 500;
   line-height: 30px;
   color: #ffffffab;
   margin-bottom: 35px;
}
.box img{
   width: 500px;
   height: 500px;
   border-radius: 10px;
} 
.center-text{
   text-align: center;
}
.center-text h2{
   font-size: var(--h2-font);
   font-weight: 800;
}

.travel-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, auto));
   align-items: center;
   gap: 3rem;
   margin-top: 5rem;
     
}

.box{
   position: relative;
}
.box img{
   width: 350px;
   height: 400px;
   object-fit: cover;
   border-radius: 10px;
   filter: brightness(70%);
   transition: all .3s cubic-bezier(.499, .05, .55, .95);
   will-change: filter;
   display: block ;
}
.box h6{
   position:absolute;
   left: 25px;
   bottom: 95px;
   font-size: 18px;
   font-weight: 500;
}
.box h4{
   position: absolute;
   left: 25px;
   bottom: 65px;
   font-size: 20px;
   font-weight: 700;
}
.box img:hover{
   filter: brightness(100%) hue-rotate(50deg);
   transform: scale(1.04);
   cursor: pointer;
}

.center-btn{
   text-align: center; 
   margin-top: 4rem;
}

.Culture{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 9rem;
}

.Culture-img img{
   width: 500px;
   height: 500px;
   border-radius: 10px;
}

.Culture-text h5{
   font-size: 22px;
   font-weight: 600;
   color: var(--text-color);
   text-transform: uppercase;
   letter-spacing: 6px;
   margin-bottom: 20px;
  
}
.Culture-text h2{
font-size: var(--h2-font);
font-weight: 700;
line-height: 1.2;
margin-bottom: 25px;
}

.Culture-text p{
   font-size: var(--p-font);
   font-weight: 500;
   line-height: 30px;
   color: #ffffffab;
   margin-bottom: 35px;
}

.newsletter-content{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 2rem;
}

.newsletter-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}

.newsletter-text p{
   font-size: var(--p-font);
   font-weight: 500;
   color: #ffffffab;
}
.newsletter-content form{
   display: grid;
   grid-template-columns: 1fr 0.4fr;
   gap: 1rem;
}

.newsletter-content form input:first-child{
   padding: 15px;
   background: #202020;
   font-size: var(--p-font);
   color: var(--text-color);
   border-radius: 5px;
}
.footer{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   gap: 2rem;
}
.footer-box{
   display: flex;
   flex-direction: column;  
}
.footer-box h3{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 15px;  
}
.footer-box a{
   color: #979797;
   margin-bottom: 0.8rem;
   transition: all .50s ease;
}
.footer-box a:hover{
   transform: translateX(-5px);
   color: var(--text-color);
}
.social a{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 45px;
   width: 45px;
   background: #202020;
   color: var(--text-color);
   font-size: 20px;
   border-radius: 50%;
   margin-right: 8px;
   transition: transform 0.6s;
}
.copyright p{
   text-align: center;
   padding: 20px;
   color: #979797;
   font-size: 15px;
}
.heading{
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   margin: 20px auto;
   color: #fff;
}
.heading h1{
   font-size: 50px;
   margin-bottom: 25px;
   position: relative;
}
.heading h1 ::after{
   content: "";
   position: absolute;
   width: 100%;
   height: 4px;
   display: block;
   margin:0 auto;

}
.heading p{
   font-size: 18px;
   color: #666;
   margin-bottom: 35px;
}
.container{
   width: 90%;
   margin: 0 auto;
   padding: 10px 20px;

}
.about{
   display: flex;
   justify-content:space-between ;
   align-items: center;
   flex-wrap: wrap;
}
.about-img{
   flex:1 ;
   margin-right: 60px;
   overflow: hidden;
}
.about-img img{
   width: 400px;
   height: 500px;
   border-radius: 10px;
   display: block;
   transition: 0.5s ease;
}
.about-img :hover img{
   transform: scale(1.2);
}
.about-content{
   flex: 1;
}
.about-content h2{
   font-size: 33px;
   margin-bottom: 20px;
   color:white;
}
.about-content p{
   font-size: 18px;
   line-height: 1.5;
   color: white;
}
.contact{
   position: relative;
   min-height: 100vh;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: url(tour2.jpg);
   background-size: cover;
   color: #000;
}
.contact .content{
   max-width: 800px;
   text-align: center;
   
}
.contact .content h2{
   font-size: 36px;
   font-weight: 500;
   color: #fff;
}
.contact .content p{
   font-size: 300;
   color: #fff;
}
.calender{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.calender text{
   color: #000;
}
.calender .contactInfo{
   width: 50%;
   display: flex;
   flex-direction: column;
}
.calender .contactInfo .boxes{
   position: relative;
   padding: 20px 0;
   display: flex;
}
.calender .contactInfo .boxes .icon{
   min-width: 60px;
   height: 60px;
   background: #fff;
   display: flexbox;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px;
}
.calender .contactInfo .boxes .text{
   display: flex;
   margin-left: 20px;
   font-size: 16px;
   color: #fff;
   flex-direction: column;
   font-weight: 300;
}
.calender .contactInfo .boxes .text h3{
   font-weight: 500;
   color: #fff;
}
.contactForm{
   width: 40%;
   padding: 40px;
   background: #fff;
   border-radius: 10px;
}
.contactForm h2{
   font-size: 30px;
   color: #333;
   font-weight: 500;
}
.contactForm .inputBox{
   position: relative;
   width: 100%;
   margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
}
.contactForm .inputBox span{
   position: absolute;
   left: 0;
   font-size: 16px;
   margin: 10px 0;
   pointer-events: none;
   transition: 0.5s;
   color: #666;
}